.sidebar-info {
    position: sticky;
    top: 40px;
    padding-bottom: 20px;
}
.sidebar-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.award {
    background-color: #f2ffece8
}
.break {
    text-align: center;
    margin-top: 25px;
}
.break button {
    border: 0;
    border-radius: 50%;
    margin-right: 4px;
    background-color: rgb(177, 177, 177);
    line-height: 10px;
    height: 50px;
    width: 50px;
    color: white;
}
.exercise-time {
    background-color: #dfdbdbcb;
    padding: 13px;
    border-radius: 10px;
}
.break-time {
    background-color: #dfdbdbcb;
    padding: 13px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}